doctype html
html(lang="ru")
	head
		title= title
		link(rel='stylesheet' href="styles.css")
	body
		h1= message
		form.form(action='/replaced-string', method='GET')
			input.form__input(type='text', name='sourceString', value='Моя фраза')
			input.form__button(type='submit', value='Заменить')

